@import '../../styles/component-helper';

$panel-background-color: $color-white;
$panel-border-radius:    $border-radius;
$panel-box-shadow:       $box-shadow;
$panel-padding:          $baseline-x2;

.c-panel {
  background-color: $panel-background-color;
  border-radius:    $panel-border-radius;
  box-shadow:       $panel-box-shadow;
  padding:          $panel-padding;
}
