@import '../../styles/component-helper';

$figure-caption-color:            $color-ui-white;
$figure-caption-background-color: $color-ui-grey-dark;
$figure-margin-bottom:            map-get($type-margins, '-base');
$figure-type-map:                 $type-caption;

.c-figure {
  margin-bottom: $figure-margin-bottom;
  text-align:    center;
}

.c-figure__caption {
  @include iota-type($figure-type-map);

  background-color: $figure-caption-background-color;
  color:            $figure-caption-color;
  display:          block;
}

.c-figure__image {
  display:   block;
  max-width: 100%;
  width:     100%;
}
