@import '../../styles/component-helper';

$button-border-radius:              $border-radius;
$button-border-width:               $border-width-x3;
$button-font-weight:                map-get($type-font-weights, sub-heading);
$button-line-height:                $baseline-x7;
$button-line-height-md:             $baseline-x8;
$button-ph:                         0 $baseline-x4;
// SpaceAfterComma doesn't seem to work in Sass lists
// scss-lint:disable SpaceAfterComma
$button-type-map:                   (
  null: ($type-sub-heading-font-size,    $button-line-height),
  md:   ($type-sub-heading-font-size-md, $button-line-height-md),
);
// scss-lint:enable SpaceAfterComma

$button-primary-background-color:   $color-ui-yellow;
$button-primary-border-color:       $color-ui-yellow;
$button-primary-color:              $color-ui-greyscale-darkest;

$button-secondary-border-color:     $color-ui-greyscale-mid;
$button-secondary-color:            $color-ui-greyscale-mid;

.c-button {
  @include iota-type($button-type-map);

  border-radius:   $button-border-radius;
  border-style:    solid;
  border-width:    $button-border-width;
  cursor:          pointer;
  display:         inline-block;
  font-weight:     $button-font-weight;
  padding:         $button-ph;
  text-align:      center;
  text-decoration: none;
  vertical-align:  middle;
}

.c-button--primary {
  background-color: $button-primary-background-color;
  border-color:     $button-primary-border-color;
  color:            $button-primary-color;
}

.c-button--secondary {
  border-color: $button-secondary-border-color;
  color:        $button-secondary-color;
}

.c-button--block {
  display: block;
  width:   100%;
}
