@import '../../styles/component-helper';

$hr-color:     $color-ui-grey-lightest !default;
$hr-margin:    0 0 map-get($spacing-extra, '-x8') !default;
$hr-thickness: $border-width-x2 !default;

.c-hr {
  background-color: $hr-color;
  border-width:     0;
  height:           $hr-thickness;
  margin:           $hr-margin;
}
