@import '../../styles/component-helper';

.c-wysiwyg {
  a {
    @include link;
  }
  h1 {
    @include type-display-large;
  }
  h2 {
    @include type-display;
  }
  h3 {
    @include type-heading;
  }
  h4 {
    @include type-sub-heading;
  }
  p {
    @include type-base;
  }
  ul {
    @include type-base;
    margin-left: $spacing-x4;
  }
  ol {
    @include type-base;
    margin-left: $spacing-x4;
  }
  blockquote {
    @include type-base;
    border-left-color: $color-ui-grey-light;
    border-style: solid;
    border-width: 0 0 0 2px;
    margin-bottom: 2rem;
    padding: 2rem 2rem 2rem 3rem;
  }
}

.c-wysiwyg--rpi {
  a {
    @include link--rpi;
  }
}

.c-wysiwyg--light-on-dark {
  a {
    @include link--light-on-dark;
  }
}
