@import '../../styles/component-helper';

$card-background-color:    $color-white !default;
$card-border-radius:       $border-radius !default;
$card-box-shadow:          $box-shadow !default;
$card-content-p:           $baseline-x4 !default;
$card-link-color:          $color-ui-black !default;
$card-transition-duration: $transition-duration-short !default;
$card-transition-timing:   $transition-timing-eased !default;

.c-card {
  background-color: $card-background-color;
  border-radius:    $card-border-radius;
  box-shadow:       $card-box-shadow;
  display:          block;
  overflow:         hidden;
  transition:       box-shadow $card-transition-duration $card-transition-timing;
  width:            100%;
}

.c-card__image {
  width: 100%;
}

.c-card__content {
  padding: $card-content-p;
}

$c-card__heading-margin-bottom: $type-sub-heading-margin-bottom !default;

.c-card__heading {
  @include type-sub-heading;

  display:       block;
  margin-bottom: $c-card__heading-margin-bottom;
}

.c-card--link,
.c-card--link:active,
.c-card--link:hover,
.c-card--link:link,
.c-card--link:visited {
  color:           $card-link-color;
  cursor:          pointer;
  text-decoration: none;
}
