@import '../../styles/component-helper';

$card-background-color: $color-white;
$card-border-radius:    $border-radius;
$card-box-shadow:       $box-shadow;
$card-content-p:        $baseline-x4;
$card-background-color: $color-white;

.c-card {
  background-color: $card-background-color;
  border-radius:    $card-border-radius;
  box-shadow:       $card-box-shadow;
  overflow:         hidden;
}

.c-card__content {
  padding: $card-content-p;
}

.c-card__title {
  @include type-sub-heading;
}
