/**
 * Allows you to change the default type name from .o-type-.
 * 
 * Type: String
 */

$iota-objs-type-namespace: 'type-';


/**
 * Allows you to specify typography sizes.
 *
 * Type: Map
 */

$iota-objs-type-sizes: (
  caption:       $type-caption,
  base:          $type-base,
  sub-heading:   $type-sub-heading,
  heading:       $type-heading,
  display:       $type-display,
  display-large: $type-display-large
);


@import 'node_modules/iotacss/objects/type';
