$border-radius: $baseline;
$border-radius-x2: $border-radius * 2;
$border-radius-x3: $border-radius * 3;
$border-radius-x4: $border-radius * 4;
$border-radius-x5: $border-radius * 5;

$border-width: .3rem;
