$box-shadow-color:  rgba($color-black, .25) !default;

$box-shadow-offset: .1rem !default;
$box-shadow-blur:   .3rem !default;

$box-shadow-all:    0                     0                     $box-shadow-blur 0;
$box-shadow-b-edge: 0                     $box-shadow-offset    $box-shadow-blur (-$box-shadow-offset);
$box-shadow-l-edge: $box-shadow-offset    0                     $box-shadow-blur (-$box-shadow-offset);
$box-shadow-r-edge: (-$box-shadow-offset) 0                     $box-shadow-blur (-$box-shadow-offset);
$box-shadow-t-edge: 0                     (-$box-shadow-offset) $box-shadow-blur (-$box-shadow-offset);

$box-shadow:   $box-shadow-all    $box-shadow-color;
$box-shadow-b: $box-shadow-b-edge $box-shadow-color;
$box-shadow-l: $box-shadow-l-edge $box-shadow-color;
$box-shadow-r: $box-shadow-r-edge $box-shadow-color;
$box-shadow-t: $box-shadow-t-edge $box-shadow-color;
