$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

$breakpoints: (
  "sm": "screen and (min-width: #{$breakpoint-sm})",
  "md": "screen and (min-width: #{$breakpoint-md})",
  "lg": "screen and (min-width: #{$breakpoint-lg})",
  "xl": "screen and (min-width: #{$breakpoint-xl})"
);
