$color-black:                  #000;
$color-white:                  #fff;

$color-brand-rpi-red:       #c51d4a;
$color-brand-rpi-green:     #6ac146;
$color-brand-cc-green:      #009b3a;

$color-primary-yellow:      #ffb12a !default;
$color-primary-orange:      #f68e3b !default;
$color-primary-red:         #f3524f !default;
$color-primary-violet:      #a76fba !default;
$color-primary-navy:        #004881 !default;
$color-primary-blue:        #41a6c4 !default;
$color-primary-turquoise:   #10aeb0 !default;
$color-primary-green:       #53ce63 !default;

$color-secondary-yellow:    #fddd42 !default;
$color-secondary-orange:    #ffc869 !default;
$color-secondary-red:       #f68583 !default;
$color-secondary-violet:    #c29acf !default;
$color-secondary-navy:      #4c7fa7 !default;
$color-secondary-blue:      #87dcf6 !default;
$color-secondary-turquoise: #58c7c8 !default;
$color-secondary-green:     #87dd92 !default;
$color-secondary-pink:      #f68583 !default;
$color-secondary-blue-dark: #374e60 !default;

$color-ui-black:               #222 !default;
$color-ui-grey-dark:           #444 !default;
$color-ui-grey-medium:         #999 !default;
$color-ui-grey-light:          #ccc !default;
$color-ui-grey-lightest:       #eee !default;
$color-ui-white:            #f5f6f9 !default;
$color-ui-yellow:           #fcf67f !default;

// scss-lint thinks the following "black" and "white" are color literals.
// They're not, so disabling the rule.
// scss-lint:disable ColorKeyword
$colors: (
  black:                    $color-black,
  white:                    $color-white,
  brand-raspberry-pi-red:   $color-brand-rpi-red,
  brand-raspberry-pi-green: $color-brand-rpi-green,
  primary-yellow:           $color-primary-yellow,
  primary-orange:           $color-primary-orange,
  primary-red:              $color-primary-red,
  primary-violet:           $color-primary-violet,
  primary-navy:             $color-primary-navy,
  primary-blue:             $color-primary-blue,
  primary-turquoise:        $color-primary-turquoise,
  primary-green:            $color-primary-green,
  secondary-yellow:         $color-secondary-yellow,
  secondary-orange:         $color-secondary-orange,
  secondary-red:            $color-secondary-red,
  secondary-violet:         $color-secondary-violet,
  secondary-navy:           $color-secondary-navy,
  secondary-blue:           $color-secondary-blue,
  secondary-turquoise:      $color-secondary-turquoise,
  secondary-green:          $color-secondary-green,
  secondary-pink:           $color-secondary-pink,
  secondary-blue-dark:      $color-secondary-blue-dark,
  ui-black:                 $color-ui-black,
  ui-grey-dark:             $color-ui-grey-dark,
  ui-grey-medium:           $color-ui-grey-medium,
  ui-grey-light:            $color-ui-grey-light,
  ui-grey-lightest:         $color-ui-grey-lightest,
  ui-white:                 $color-ui-white,
  ui-yellow:                $color-ui-yellow
);
// scss-lint:enable ColorKeyword
