$grid-gutter-base: $baseline-x4 !default;
$grid-gutter-sm:   4% !default;
$grid-gutter-md:   3% !default;
$grid-gutter-lg:   2.5% !default;
$grid-gutter-xl:   2% !default;

$grid-gutters: (
  null: $grid-gutter-base,
  sm:   $grid-gutter-sm,
  md:   $grid-gutter-md,
  lg:   $grid-gutter-lg,
  xl:   $grid-gutter-xl,
);
