$transition-elastic:        cubic-bezier(.68, -.55, .265, 1.55);
$transition-eased:          ease-in-out;
$transition-linear:         linear;

$transition-duration-short: 100ms;
$transition-duration-med:   150ms;
$transition-duration-long:  300ms;
