$transition-timing-elastic: cubic-bezier(.68, -.55, .265, 1.55) !default;
$transition-timing-eased:   ease-in-out !default;
$transition-timing-linear:  linear !default;

$transition-duration-short: 100ms !default;
$transition-duration-med:   150ms !default;
$transition-duration-long:  300ms !default;
