@import '../../../styles/component-helper';

$label-font-weight:   $font-weight-medium !default;
$label-margin-bottom: $baseline !default;

.c-label {
  display:       block;
  font-weight:   $label-font-weight;
  margin-bottom: $label-margin-bottom;
}
