@import '../../../styles/component-helper';

$form-fieldset--margin-bottom: $baseline-x10 !default;

.c-fieldset {
  border:        none;
  margin-bottom: $form-fieldset--margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }
}
