@import '../../../styles/component-helper';

$textarea-background-color:    $color-white !default;
$textarea-border-color:        $color-ui-grey-light !default;
$textarea-border-radius:       $border-radius !default;
$textarea-border-width:        $border-width-x2 !default;
$textarea-color:               $color-ui-grey-dark !default;
$textarea-font-family:         $font-family-sans-serif !default;
$textarea-font-weight:         $font-weight-light !default;
$textarea-height:              $spacing * 30 !default;
$textarea-line-height:         $spacing-x7 !default;
$textarea-line-height-md:      $spacing-x8 !default;
$textarea-padding:             0 $spacing-x2 !default;
$textarea-placeholder-color:   $color-ui-grey-medium !default;

$textarea--focus-border-color: $color-ui-grey-medium !default;
$textarea--focus-color:        $color-ui-black !default;
// SpaceAfterComma doesn't seem to work in Sass lists
// scss-lint:disable SpaceAfterComma
$textarea-type-map:            (
  null: ($type-base-font-size,    $textarea-line-height),
  md:   ($type-base-font-size-md, $textarea-line-height-md),
) !default;
// scss-lint:enable SpaceAfterComma

.c-textarea {
  @include iota-type($textarea-type-map);

  background-color: $textarea-background-color;
  border-color:     $textarea-border-color;
  border-radius:    $textarea-border-radius;
  border-style:     solid;
  border-width:     $textarea-border-width;
  color:            $textarea-color;
  display:          block;
  font-family:      $textarea-font-family;
  font-weight:      $textarea-font-weight;
  height:           $textarea-height;
  padding:          $textarea-padding;
  width:            100%;

  &::placeholder {
    color: $textarea-placeholder-color;
  }

  &:focus {
    border-color: $textarea--focus-border-color;
    color:        $textarea--focus-color;
    outline:      none;
  }
}
