$link-color:                  $color-primary-navy;
$link-hover-background-color: $color-ui-yellow;
$link-hover-color:            $color-ui-greyscale-darkest;
$link-visited-color:          $color-primary-violet;
$link-transition-duration:    $transition-duration-short;
$link-transition-timing:      $transition-timing-eased;

@mixin link {
  color:                $link-color;
  cursor:               pointer;
  text-decoration:      underline;
  text-decoration-skip: ink;
  transition:           color $link-transition-duration $link-transition-timing;

  &:hover,
  &:hover:visited {
    background-color: $link-hover-background-color;
    color:            $link-hover-color;
  }

  &:visited {
    color: $link-visited-color;
  }
}
