$link-color:                  $color-primary-navy;
$link-hover-background-color: $color-ui-yellow;
$link-hover-color:            $color-ui-greyscale-darkest;
$link-visited-color:          $color-primary-violet;
$link-transition-duration:    $transition-duration-short;
$link-transition-timing:      $transition-timing-eased;

$link-lod-color:                  $color-primary-navy;
$link-lod-hover-background-color: $color-ui-yellow;
$link-lod-hover-color:            $color-ui-greyscale-darkest;
$link-lod-visited-color:          $color-primary-violet;

@mixin link {
  color:                $link-color;
  cursor:               pointer;
  text-decoration:      underline;
  // Disable text-decoration-skip check as it's still in draft
  // https://drafts.csswg.org/css-text-decor-3/#text-decoration-skip-property
  text-decoration-skip: ink; // scss-lint:disable PropertySpelling
  transition:           color $link-transition-duration $link-transition-timing;

  &:hover,
  &:hover:visited {
    background-color: $link-hover-background-color;
    color:            $link-hover-color;
  }

  &:visited {
    color: $link-visited-color;
  }
}

@mixin link-light-on-dark {
  @include link;

  color: $link-lod-color;

  &:hover,
  &:hover:visited {
    background-color: $link-lod-hover-background-color;
    color:            $link-lod-hover-color;
  }

  &:visited {
    color: $link-lod-visited-color;
  }
}
